@model GadgetHub.WebUI.Models.GadgetsListViewModel

@{
    ViewBag.Title = "Gadgets";
}

@foreach (var g in Model.Gadgets)
{
    <div>
        <h3> @g.Name</h3>
        @g.Description
        <h4>@g.Price.ToString("c")</h4>
        <p>@g.Brand</p>
        <p>@g.Category</p>
        <hr />
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>